.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  .card {
    width: 510px;
    height: 314px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    h2 {
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 500;
      line-height: 17px;
      color: #6c6c6c;
      margin-top: 2rem;
    }

    .number {
      display: flex;
      align-items: flex-end;

      h3 {
        font-size: 60px;
        font-weight: 700;
        color: black;
        span {
          font-size: 36px;
        }
      }
    }
  }
  .student {
    background-color: #f0f9ff;
  }

  .course {
    background-color: #fef6fb;
    .icons {
      gap: 1.3rem;
    }
  }

  .payment {
    background-color: #fefbec;
  }
  .report {
    background-color: #fef6fb;
  }

  .settings {
    background: linear-gradient(110.42deg, #feaf00 18.27%, #f8d442 91.84%);
    color: white;
    .icons {
      gap: 1.3rem;
    }

    h2 {
      color: white;
    }
  }
}
