.home {
  background-color: #fdfdfd;
  font-family: Montserrat;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
  gap: 2rem;
  .card {
    width: 255px;
    height: 157px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    h2 {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      color: #6c6c6c;
    }

    .number {
      display: flex;
      align-items: flex-end;

      h3 {
        font-size: 30px;
        font-weight: 700;
        color: black;
        span {
          font-size: 18px;
        }
      }
    }
  }
  .student {
    background-color: #f0f9ff;
  }

  .course {
    background-color: #fef6fb;
    .icons {
      gap: 1.3rem;
    }
  }

  .payment {
    background-color: #fefbec;
  }

  .users {
    background: linear-gradient(110.42deg, #feaf00 18.27%, #f8d442 91.84%);
    color: white;
    .icons {
      gap: 1.3rem;
    }

    h2 {
      color: white;
    }
  }
}
