.login {
  background: linear-gradient(71.17deg, #feaf00 19.35%, #f8d442 90.12%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 475px;
    height: 550px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    h1 {
      margin-top: 2rem;
      border-left: 6px solid #f8d442;
      text-transform: uppercase;
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: 700;
      line-height: 39px;
      letter-spacing: 0em;
    }

    h2 {
      text-transform: uppercase;
      margin-top: 2.5rem;
      font-weight: 600;
    }

    p {
      margin-top: 1rem;
      color: #6c6c6c;
      font-size: 14px;
      font-weight: 400;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 1rem;
      //   gap: 1.5rem;

      input {
        width: 415px;
        border: 1px solid #e5e5e5;
        color: #2e2e2e;
        padding: 14px;
        border-radius: 4px;
        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #cdcdcd;
          font-size: 12px;
          line-height: 14.63px;
        }
      }

      .emails {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 14px;
      }

      .passwords {
        display: flex;
        gap: 14px;
        flex-direction: column;
      }

      button {
        width: 415px;
        background-color: #feaf00;
        text-transform: uppercase;
        height: 44px;
        border: none;
        border-radius: 4px;
        margin-top: 1rem;
        font-size: 14px;
        font-weight: 500;
      }

      button.sign {
        margin-bottom: 20px;
      }

      p {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        color: #6c6c6c;
        font-weight: 400;
        margin-top: auto;

        button.reset {
          background: none;
          width: auto;
          height: auto;
          margin: 0;
          text-transform: capitalize;
          color: #feaf00;
          text-decoration: underline;
          //   border-bottom: 1px solid #feaf00;
        }
      }
    }
  }
}
