.sidebar {
  background-color: #f2eae1;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    h1 {
      border-left: 4px solid #f8d442;
      padding-left: 12px;
      text-transform: uppercase;
      margin-top: 1rem;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      margin-top: 4rem;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 17px;
      font-weight: 700;
      line-height: 21px;
    }
    h4 {
      color: #feaf00;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 193px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    .navLink {
      border-radius: 4px;
      text-decoration: none;
      font-family: Montserrat;
      &:visited {
        color: #000000;
      }
    }
    li {
      list-style-type: none;
      width: 193px;
      height: 41px;
      border-radius: 4px;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;

      .names {
        width: 64px;
      }

      &:hover {
        background-color: #ffd272;
        cursor: pointer;
      }
      &:active {
        background-color: #feaf00;
      }
    }

    .logout {
      margin-top: 102px;
      span {
        display: flex;
        align-items: center;
      }
    }
  }
}
