.sidebar {
  background-color: #f2eae1;
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    h1 {
      border-left: 4px solid #f8d442;
      padding-left: 12px;
      text-transform: uppercase;
      margin-top: 1rem;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: 4rem;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 193px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    li {
      list-style-type: none;
      width: 193px;
      height: 41px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      transition: all 0.3s ease-in-out;
      span {
        display: flex;
        align-items: center;
      }
      &:hover {
        background-color: #ffd272;
      }
      &:active {
        background-color: #feaf00;
      }
    }
    .active {
      background-color: #feaf00;
    }
    .logout {
      margin-top: 5rem;
    }
  }
}
