* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  cursor: default;
}

button:hover {
  cursor: pointer;
}

select {
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
  -webkit-text-fill-color: #2e2e2e !important;
  -webkit-box-shadow: 0 0 0px 0px #28292d inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
